<!-- download.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WebP文件下载</title>
</head>

<body>
  <h1>WebP文件下载</h1>
  <h2>文件仅为您保存10分钟，请尽快下载</h1>
    <p>下载链接： <a href="<%= downloadUrl %>">
        <%= downloadUrl %>
      </a></p>
</body>

</html>