<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WebP文件下载</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f3f3f3;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin-top: 0;
    }

    .preview-image {
      max-width: 80%;
      height: auto;
      margin-bottom: 20px;
    }

    .download-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .download-button:hover {
      background-color: #45a049;
    }
  </style>
  <script>
    function downloadFile() {
      var downloadUrl = '<%= downloadUrl %>';
      var fileName = decodeURIComponent(downloadUrl).split('/').pop().split('_')[0]; // 提取文件名部分
      var link = document.createElement('a');
      link.href = downloadUrl;
      link.download = fileName + '.webp'; // 添加文件扩展名
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  </script>
</head>

<body>
  <h1>WebP文件下载</h1>
  <h2>文件仅为您保存10分钟，请尽快下载</h1>
    <!-- <p>下载链接： <a href="<%= downloadUrl %>">
        <%= downloadUrl %>
      </a></p> -->
    <img class="preview-image" src="<%= downloadUrl %>" alt="WebP预览">
    <p>点击按钮下载：</p>
    <button class="download-button" onclick="downloadFile()">下载</button>
</body>

</html>