<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>转换图片为WebP</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    h1 {
      margin-top: 0;
    }

    .form-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-container label {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .form-container input[type="file"],
    .form-container input[type="number"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
    }

    .submit-button {
      padding: 10px 20px;
      margin-top: 20px;
      font-size: 16px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .submit-button:hover {
      background-color: #45a049;
    }

    .submit-button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  </style>
  <script>
    function validateForm() {
      var fileInput = document.querySelector('input[type="file"]');
      var file = fileInput.files[0];
      if (!file) {
        alert("必须上传一个图片文件");
        return false
      }
      var allowedFileTypes = ['image/jpeg', 'image/jpg', 'image/png'];
      var allowedExtensions = ['.jpeg', '.jpg', '.png'];
      var fileMimeType = file.type;
      var fileExtension = '.' + file.name.split('.').pop().toLowerCase();

      if (!allowedFileTypes.includes(fileMimeType)) {
        alert('只能上传 JPEG、JPG 和 PNG 格式的图片文件');
        return false;
      }

      if (fileExtension === '.webp') {
        alert('不允许上传 WebP 格式的图片');
        return false;
      }

      return true;
    }

    function checkFileSelection() {
      var fileInput = document.querySelector('input[type="file"]');
      var uploadButton = document.querySelector(".submit-button");
      if (fileInput.files.length === 0) {
        uploadButton.disabled = true;
      } else {
        uploadButton.disabled = false;
      }
    }
  </script>
</head>

<body>
  <div class="form-container">
    <h1>转换图片为WebP</h1>
    <form method="post" action="/upload" enctype="multipart/form-data" onsubmit="return validateForm()">
      <label for="file">选择文件:</label>
      <input type="file" id="file" name="file" accept="image/jpeg, image/jpg, image/png"
        onchange="checkFileSelection()" />

      <label for="quality">转换率（1-100）:</label>
      <input type="number" id="quality" name="quality" placeholder="转换率（1-100）" min="1" max="100" value="80" required />

      <input class="submit-button" type="submit" value="转换" disabled />
    </form>
  </div>
</body>

</html>